body {
  background-color: #1a1a1a;
  color: #e0e0e0;
}

h1, h2 {
  color: #ffffff;
}

.navbar {
  margin-bottom: 1rem;
  border-radius: 5px;
}

footer {
  margin-top: 2rem;
  border-radius:5px;
}

.btn-primary {
  --bs-btn-bg: #07ffff;
  --bs-btn-border-color: #07ffff;
  --bs-btn-color: #121212;

  --bs-btn-hover-bg: #00cccc;
  --bs-btn-hover-border-color: #00cccc;
  --bs-btn-hover-color: #121212;
}

.project-card {
  padding: 1rem;
    background-color: rgba(0, 0, 0, 0.5);
  border-radius: 8px;
}

.project-image {
  width: 100%;
  height: 180px;
  overflow: hidden;
  border-radius: 6px;
}

.project-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.main-bg {
  background-image:
    linear-gradient(
      rgba(0, 0, 0, 0.5),
      rgba(0, 0, 0, 0.5)
    ),
    url("../assets/images/sfeerafbeelding2.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  padding: 3rem;
  border-radius: 12px;  
}

.top-bar {
  display: flex;
  align-items: center;
}

.site-logo {
  width: 70px;
  height: auto;
  border-radius: 5px;
}

.navbar-nav {
  align-items: flex-end;
}